---
- name: "Create Directorys"
  ansible.builtin.file:
    path: /tmp/prometheus-alertmanager/
    state: directory
    owner: prometheus
    group: prometheus

- name: Download and Unarchive alert manager
  ansible.builtin.unarchive:
    src: https://github.com/prometheus/alertmanager/releases/download/v0.21.0/alertmanager-0.21.0.linux-amd64.tar.gz
    dest: /tmp/prometheus-alertmanager/
    remote_src: yes

- name: "move binary to /usr/local/bin"
  copy:
    src: "{{ item }}"
    dest: /usr/local/bin/
    owner: prometheus
    group: prometheus
    mode: "0777"
  loop:
    - /tmp/prometheus-alertmanager/alertmanager
    - /tmp/prometheus-alertmanager/amtool

- name: "Create Directorys"
  ansible.builtin.file:
    path: /var/lib/alertmanager
    state: directory
    owner: prometheus
    group: prometheus

- name: Delete Prometheus Archive
  ansible.builtin.file:
    state: absent
    path: /tmp/prometheus-alertmanager/

- name: Copy alertmanager yml
  copy:
    src: alertmanager.yml
    dest: /etc/prometheus/alertmanager.yml
    owner: prometheus
    group: prometheus
    mode: "0777"

- name: Copy service file
  copy:
    src: alertmanager.service
    dest: /etc/systemd/system/alertmanager.service
    owner: prometheus
    group: prometheus
    mode: "0777"

- name: Make sure a service unit is running
  ansible.builtin.systemd:
    state: restarted
    name: alertmanager
    enabled: yes
    daemon_reload: yes
