global:
  scrape_interval: 1s
  evaluation_interval: 1s

rule_files:
  - rules.yml

alerting:
  alertmanagers:
    - static_configs:
      - targets:
        - localhost:9093

scrape_configs:
  - job_name: 'node'
    ec2_sd_configs:
      - region: us-east-1
        access_key: {{ aws_access_key }}
        secret_key: {{ aws_secret_key }}
        port: 9100