---
- name: "Create Prometheus User"
  user:
    name: prometheus
    create_home: no

- name: "Create Directorys"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: prometheus
    group: prometheus
  loop:
    - /etc/prometheus
    - /var/lib/prometheus
    - /tmp/prometheus/

- name: Download and Unarchive prometheus
  ansible.builtin.unarchive:
    src: https://github.com/prometheus/prometheus/releases/download/v2.19.0/prometheus-2.19.0.linux-amd64.tar.gz
    dest: /tmp/prometheus/
    remote_src: yes

- name: "move binary to /usr/local/bin"
  copy:
    src: "{{ item }}"
    dest: /usr/local/bin/
    owner: prometheus
    group: prometheus
    mode: "0777"
  loop:
    - /tmp/prometheus/prometheus
    - /tmp/prometheus/promtool

- name: "move binary to /etc/prometheus"
  copy:
    src: "{{ item }}"
    dest: /etc/prometheus
    directory_mode:
    owner: prometheus
    group: prometheus
    mode: "0777"
  loop:
    - /tmp/prometheus/consoles
    - /tmp/prometheus/console_libraries

- name: Delete Prometheus Archive
  ansible.builtin.file:
    state: absent
    path: /tmp/prometheus/

- name: Template prometheus.yml
  vars:
    aws_access_key: "{{ lookup('env', 'aws_discoverability_access_key')}}"
    aws_secret_key: "{{ lookup('env', 'aws_discoverability_secret_key')}}"
  template:
    src: prometheus.yml
    dest: /etc/prometheus/prometheus.yml
    owner: prometheus
    group: prometheus
    mode: "0777"

- name: Copy prometheus.service
  copy:
    src: prometheus.service
    dest: /etc/systemd/system/prometheus.service
    owner: promehteus
    group: promehteus
    mode: "0777"

- name: Restart Daemon and prometheus service
  ansible.builtin.systemd:
    state: restarted
    name: prometheus
    enabled: yes
    daemon_reload: yes
